* {
    font-family: 'Inter', sans-serif;
}

.ff-inter {
    font-family: 'Inter', sans-serif !important;
}
.ff-poppins {
    font-family: 'Poppins', sans-serif !important;
}

.fs-09 {
    font-size: 0.85rem !important;
}

html[data-bs-theme="dark"] * {
    color: var(--bs-body-color);
}

html[data-bs-theme="light"] .pc-container {
    background-color: rgb(240, 240, 240) !important;
}
html[data-bs-theme="dark"] .pc-container,
html[data-bs-theme="dark"] .pc-head-link.head-link-primary,
html[data-bs-theme="dark"] .pc-head-link.head-link-secondary {
    background-color: rgb(33, 33, 33) !important;
}

html[data-bs-theme="dark"] .pc-item {
    color: var(--bs-body-color) !important;
}
html[data-bs-theme="dark"] .dropdown > .dropdown-menu {
    background-color: rgb(33, 33, 33) !important;
    box-shadow: 0 0 0 0 rgba(var(--bs-body-color-rgb), 0) !important;
    border: solid rgb(43, 43, 43) var(--bs-border-width) !important;
}
.dropdown .dropdown-item.active,
.dropdown .dropdown-item:active,
.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover {
    color: var(--bs-body-color);
    background-color: rgba(var(--bs-body-color-rgb), 0.1) !important;
}
html[data-bs-theme="dark"] .dropdown > .dropdown-item.active,
html[data-bs-theme="dark"] .dropdown > .dropdown-item:active,
html[data-bs-theme="dark"] .dropdown > .dropdown-item:focus,
html[data-bs-theme="dark"] .dropdown > .dropdown-item:hover {
    background-color: rgba(var(--bs-body-color-rgb), 0.1) !important;
}

html[data-bs-theme="dark"] .dropdown-divider {
    border-color: rgba(var(--bs-body-color-rgb), 0.1) !important;
}

html[data-bs-theme="dark"] html,
html[data-bs-theme="dark"] body,
html[data-bs-theme="dark"] .pc-sidebar,
html[data-bs-theme="dark"] .pc-header {
    background-color: rgb(24, 24, 24) !important;
}

html[data-bs-theme="dark"] .dropdown-menu.dropdown-user-profile.dropdown-menu-end,
html[data-bs-theme="dark"] .dropdown-menu.dropdown-notification.dropdown-menu-end {
    background-color: rgb(29, 29, 29) !important;
    box-shadow: 0 0 0 0 rgba(var(--bs-body-color-rgb), 0) !important;
    border: solid rgb(43, 43, 43) var(--bs-border-width) !important;
}

html[data-bs-theme="dark"] .card {
    background-color: rgb(24, 24, 24) !important;
}

html[data-bs-theme="dark"] .form-control, html[data-bs-theme="dark"] .form-select, html[data-bs-theme="dark"] .form-check-input {
    background-color: rgb(29, 29, 29) !important;
    color: var(--bs-body-color);
    border: solid rgba(var(--bs-body-color-rgb), 0.1) var(--bs-border-width) !important;
}
html[data-bs-theme="dark"] .form-floating > label {
    color: var(--bs-body-color) !important;
}
html[data-bs-theme="dark"] .form-floating > label::after {
    display: none !important;
}

html[data-bs-theme="dark"] .table {
    --bs-table-border-color: rgba(var(--bs-body-color-rgb), 0.1) !important;
}

html[data-bs-theme="dark"] .swal2-popup {
    background-color: rgb(29, 29, 29) !important;
    border: solid rgba(var(--bs-body-color-rgb), 0.1) var(--bs-border-width) !important;
}

html[data-bs-theme="dark"] .pagination {
    --bs-pagination-bg: transparent !important;
    --bs-pagination-disabled-bg: rgba(var(--bs-body-color-rgb), 0.1) !important;
    --bs-pagination-hover-bg: rgba(var(--bs-body-color-rgb), 0.1) !important;
    --bs-pagination-focus-bg: rgba(var(--bs-body-color-rgb), 0.1) !important;
    --bs-pagination-border-color: rgba(var(--bs-body-color-rgb), 0.5) !important;
    --bs-pagination-active-border-color: rgba(var(--bs-body-color-rgb), 0.5) !important;
    --bs-pagination-disabled-border-color: rgba(var(--bs-body-color-rgb), 0.5) !important;
}

html[data-bs-theme="dark"] .ck.ck-content, html[data-bs-theme="dark"] .ck.ck-toolbar {
    background-color: rgb(29, 29, 29) !important;
    border-color: rgb(33, 33, 33) !important;
}
html[data-bs-theme="dark"] .ck.ck-button {
    color: var(--bs-body-color) !important;
}
html[data-bs-theme="dark"] .ck.ck-button:hover {
    color: rgba(var(--bs-body-color-rgb), 0.5) !important;
}

@media (min-width: 1025px) {
    .pc-sidebar.pc-sidebar-hide ~ .pc-footer, .pc-sidebar.pc-sidebar-hide ~ .pc-container {
        margin-left: 20px !important;
    }

    .pc-menu-overlay {
        display: none !important;
    }
}

.pc-footer {
    margin-top: 85px;
}

@media (max-width: 575px) {
    .pc-footer {
        margin-top: 73px;
    }
}

@media (max-width: 476px) {
    .pc-footer {
        margin-top: 73px !important;
    }
}

@media (max-width: 375px) {
    .pc-footer {
        margin-top: 60px !important;
    }
}

/* MD */
@media (min-width: 768px) {
    .pc-footer {
        margin-top: 85px !important;
    }
    .border-md-end {
        border-right: 1px solid var(--bs-border-color) !important;
    }
}

@media (min-width: 575.99px) {
    .pc-content {
        padding-bottom: 20px !important;
    }
}

.breadcrumb-item::before {
    line-height: 1.8 !important;
}

.form-control:hover {
    background-color: transparent !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
    box-shadow: 0 0 0px 1000px #fff inset !important;
    -webkit-text-fill-color: #000 !important;
    transition: background-color 9999999s ease-in-out 0s;
}

.hide-arrow::before, .hide-arrow::after {
    display: none !important;
}

.pagination {
    margin-bottom: 0 !important;
}
