* {
    font-family: 'Inter', sans-serif;
}

.fs-09 {
    font-size: 0.85rem !important;
}

.pc-container {
    background-color: rgb(250, 250, 250) !important;
}

.ff-inter {
    font-family: 'Inter', sans-serif !important;
}
.ff-poppins {
    font-family: 'Poppins', sans-serif !important;
}

@media (min-width: 1025px) {
    .pc-sidebar.pc-sidebar-hide ~ .pc-footer, .pc-sidebar.pc-sidebar-hide ~ .pc-container {
        margin-left: 20px !important;
    }

    .pc-menu-overlay {
        display: none !important;
    }
}

.pc-footer {
    margin-top: 85px;
}

@media (max-width: 575px) {
    .pc-footer {
        margin-top: 73px;
    }
}

@media (max-width: 476px) {
    .pc-footer {
        margin-top: 73px !important;
    }
}

@media (max-width: 375px) {
    .pc-footer {
        margin-top: 60px !important;
    }
}

/* MD */
@media (min-width: 768px) {
    .pc-footer {
        margin-top: 85px !important;
    }
    .border-md-end {
        border-right: 1px solid var(--bs-border-color) !important;
    }
}

@media (min-width: 575.99px) {
    .pc-content {
        padding-bottom: 20px !important;
    }
}

.breadcrumb-item::before {
    line-height: 1.8 !important;
}

.form-control:hover {
    background-color: transparent !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
    box-shadow: 0 0 0px 1000px #fff inset !important;
    -webkit-text-fill-color: #000 !important;
    transition: background-color 9999999s ease-in-out 0s;
}

.hide-arrow::before, .hide-arrow::after {
    display: none !important;
}
